<h1>Restaurants</h1>

<% @restaurants.each do |restaurant| %>
<h3><%= restaurant.name %></h3>
<p><%= restaurant.address %></p>
<p>Open: <%= restaurant.open_time %>-<%= restaurant.close_time %></p>
<% end %>
