// Place all the styles related to the restaurants_controller controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.restaurants {
display: inline-block;
  width: 20%;
  padding: 0 5px;
  margin: 1rem;
  box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.2);
}
