// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

.owner-dashboard{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  .edit-links{
    padding: 0 5px;
    margin: 1rem;
    box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;}
}

.restaurants_by_reso{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}
.sign_up {
  display: inline-block;
  margin: 30px auto;
  text-align: center;
  h1 {
    margin: 15px 30px 30px 30px;
  }
  p {
    margin-top: 25px;
  }
  form {
      text-align: right;
      input[type="submit"] {
        font-size: medium;
      }
      p.submit {
        text-align: center;
      }
  }
  label {
    float: left;
  }
  a {
    color: $seatyourself;
    text-decoration: none;
    padding: 0 10px;
  }
  a:hover {
    background-color: $seatyourself;
    color: white;
  }
.reservation {
  display: inline-block;
  width: 20%;
  padding: 0 5px;
  margin: 1rem;
  box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.2);
}
}
